<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.order.mapper.UserinfoMapper">
  <resultMap id="BaseResultMap" type="com.bdqn.order.pojo.Userinfo">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_pwd" jdbcType="VARCHAR" property="userPwd" />
    <result column="pw_err_count" jdbcType="INTEGER" property="pwErrCount" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="user_balance" jdbcType="DECIMAL" property="userBalance" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, user_name, user_pwd, pw_err_count, status, user_balance, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from wm_user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>

  <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from wm_user
    where user_name = #{userName,jdbcType=INTEGER}
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from wm_user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bdqn.order.pojo.Userinfo">
    insert into wm_user (user_id, user_name, user_pwd, 
      pw_err_count, status, user_balance, 
      create_time)
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userPwd,jdbcType=VARCHAR}, 
      #{pwErrCount,jdbcType=INTEGER}, #{status,jdbcType=CHAR}, #{userBalance,jdbcType=DECIMAL}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bdqn.order.pojo.Userinfo">
    insert into wm_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userPwd != null">
        user_pwd,
      </if>
      <if test="pwErrCount != null">
        pw_err_count,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="userBalance != null">
        user_balance,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null">
        #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="pwErrCount != null">
        #{pwErrCount,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="userBalance != null">
        #{userBalance,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bdqn.order.pojo.Userinfo">
    update wm_user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null">
        user_pwd = #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="pwErrCount != null">
        pw_err_count = #{pwErrCount,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="userBalance != null">
        user_balance = #{userBalance,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bdqn.order.pojo.Userinfo">
    update wm_user
    set user_name = #{userName,jdbcType=VARCHAR},
      user_pwd = #{userPwd,jdbcType=VARCHAR},
      pw_err_count = #{pwErrCount,jdbcType=INTEGER},
      status = #{status,jdbcType=CHAR},
      user_balance = #{userBalance,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>

  <update id="updateBalance" parameterType="com.bdqn.order.pojo.Userinfo">
    update wm_user
    set
      user_balance = user_balance-#{amt,jdbcType=DECIMAL}
    where user_id = #{userId,jdbcType=INTEGER}
        and user_balance > #{amt,jdbcType=DECIMAL}
  </update>


</mapper>